*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/metals.sbt
project/project

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea

# ENSIME specific
.ensime_cache/
.ensime

node_modules

out/

*._trace

.bloop
.metals/
.vscode

website/.docusaurus
website/build
website/project

docs-gen
*.xtend

.aspect
website/node_modules
# Not sure if tj-actions/verify-changed-files can expand wildcards, so I list the bazel-specific directories explicitly
bazel-out
bazel-bin
bazel-testlogs
bazel-build-server-protocol
bazel-*

# bsp specific
.bsp
.bazelbsp
projectview.bazelproject

__pycache__/
