*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/metals.sbt
project/project

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea

# ENSIME specific
.ensime_cache/
.ensime

node_modules

out/

*._trace

.bloop
.metals/
.vscode
.bsp

website/.docusaurus
website/build
website/project

bsp4j-gen
docs-gen
