:root{
  --ifm-color-primary-lightest: #585858;
  --ifm-color-primary-lighter: #4E4E4E;
  --ifm-color-primary-light: #4B4B4B;
  --ifm-color-primary: #444444;
  --ifm-color-primary-dark: #3D3D3D;
  --ifm-color-primary-darker: #3A3A3A;
  --ifm-color-primary-darkest: #303030;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex-row-reverse{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
