name: Verify
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  check-generation:
    name: Check generation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: coursier/cache-action@v6
      - uses: coursier/setup-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/bazel
          key: bazel

      - name: Generate
        run: bazel run :generate

      - name: Build
        run: bazel build //...

      - name: Test
        run: bazel test //...

      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v16
        id: verify-changed-files
        with:
          files: |
            **/*.kt
            **/*.rs
            **/*.scala
            **/*.java
            **/*.md
            !bazel-*
            !website/node_modules

      - name: Fail if we detect changed files
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          echo "Detected changed files: ${{ steps.verify-changed-files.outputs.changed_files }}"
          echo "Make sure to run 'bazel run :generate' before pushing."
          exit 1
