name: Verify
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  generate-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v11
        with:
          java-version: adopt@1.11
      - name: generate xtend
        run: sbt bsp4j/xtend
      - name: compile
        run: sbt +compile +package
      - name: test
        run: sbt +test
  docs:
    name: Generate docs site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v11
        with:
          java-version: adopt@1.8
      - run: sbt docs/docusaurusCreateSite
  format-check:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v11
        with:
            java-version: adopt@1.8
      - run: sbt checkScalaFormat
      - run: cd website && yarn install && yarn prettier --check .
